<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enteredGoalValue" />
      <button @click="addGoal($event)">Add Goal</button>
      <p v-if="goals.length === 0">
        No goals have been added yet - please start adding some!
      </p>
      <ul v-else>
        <!-- 해당리스트를 삭제하는 경우 뷰에 바인딩 된 
        goal만 삭제하기 때문에 나머지 요소들은 재활용 돼서
        다른 인덱스의 아이템과 엮이는 현상이 발생

        => key 속성을 통해 나머지 아이템도 바인딩 하자
       -->
        <li
          v-for="(goal, index) in goals"
          :key="goal"
          @click="removeGoal(index)"
        >
          <p>{{goal}} - {{index}}</p>
          <input type="text" @click.stop />
        </li>
      </ul>
      <!-- <li v-for="key in {name: 213, hello: 'park'}">{{key}}</li> -->
    </section>
  </body>
</html>
